@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-opacity-85 {
  --tw-bg-opacity: 0.85;
}

b{
  @apply font-extrabold;
}

.text-eight-bit-madness {
  font-family: "eight-bit-madness", sans-serif;
}

.bg-rainbow{
  background-image: url("~/assets/images/bg-rainbow.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}
