@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"),
  url(~assets/fonts/Ubuntu-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "eight-bit-madness";
  src: local("eight-bit-madness"),
  url(~assets/fonts/eight-bit_madness.woff) format("woff");
  font-display: swap;
}

html {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5 {
  font-family: "eight-bit-madness", sans-serif;
}


.color-title{
  background: -webkit-linear-gradient(10deg, #991b1b, blue, blue);
  width: fit-content;
  margin: auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "eight-bit-madness", sans-serif;
}

.w-content{
  width: fit-content;
}

.w-100-vw{
  width: 100vw;
}
.h-100-vh{
  height: 100vh;
}
